services:
  backend:
    platform: linux/amd64
    image: mysten/zklogin:prover-stable
    volumes:
      - ${ZKEY}:/app/binaries/zkLogin.zkey
    environment:
      - ZKEY=/app/binaries/zkLogin.zkey
      - WITNESS_BINARIES=/app/binaries
  frontend:
    platform: linux/amd64
    image: mysten/zklogin:prover-fe-stable
    command: "8080"
    ports:
      - "${PROVER_PORT}:8080"
    environment:
      - PROVER_URI=http://backend:8080/input
      - NODE_ENV=production
      - DEBUG=zkLogin:info,jwks
      - PROVER_TIMEOUT=30
